
// Colors
$black-artifact: #352f2f;
$pharaoh-gold: #cc9934;
$tetu-teal: #01cccc;
$bright-dune: #fefbef;


// Font Families
$logo-font: 'PT Mono', 'Lucida Console', Monaco, monospace;
$serif-font: 'PT Serif', Georgia, serif;
$sans-font: 'PT Sans', 'Trebuchet MS', Helvetica, sans-serif;
