@import "../../lib/bourbon/app/assets/stylesheets/bourbon";
$font-stack: Helvetica, sans-serif;
// Theme Colors
$black-artifact: #352f2f;
$pharaoh-gold: #cc9934;
$tetu-teal:	#01cccc;
$bright-dune:	#fefbef;


html, body{
  background-color: $black-artifact;
}

.gold{
  color: $pharaoh-gold;
}

.blue{
  color:$tetu-teal;
}

.topnav{
  div{
    color: $bright-dune;
    background-color: $black-artifact;
  }
}
